.gsd-keyboard.settings-ported
Android Open Source Project/
BraveSoftware/
Code - OSS/
GIMP/
Google/
JetBrains/
MuseScore/
OpenRGB/
Qt/
QtProject.conf
QtProject/
Unknown Organization/
WowUpCf/
audacity/
balena-etcher/
balenaEtcher/
blender-benchmark-launcher/
blender/
btop/
cef_user_data/
clangd/
coq/
cosmic/
dconf/
diesel_cli/
discord/
discordcanary/
evolution/
fish/
gh/
github-copilot/
gnome-control-center/
go/
gtk-2.0/
gtk-3.0/
htop/
hypr/
ibus/
kdeglobals
kdenlive-layoutsrc
kdenliverc
libreoffice/
lutris/
menus/
mimeapps.list
neofetch/
nitrogen/
obs-studio/
obsidian/
openrazer/
pavucontrol.ini
picom/
polychromatic/
pulse/
qBittorrent/
racket/
rstudio/
sonic-visualiser/
spotify/
systemd/
tmux/
totem/
user-dirs.dirs
user-dirs.locale
vlc/
warp-terminal/
xdg-desktop-portal/
zed/
zoom.conf
zoomus.conf
